@use "../utils" as *;

.card {
    background-color: var(--dark-card);
    color: var(--dark-text1);
    width: rem(255); //temp
    text-align: center;
    padding: rem(25);

    &--facebook {

    }

    &--twitter {

    }

    &--instagram {

    }

    &--youtube {

    }

    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
    }

    &__icon {
        margin-right: rem(8);

        &--facebook {

        }
    
        &--twitter {
    
        }
    
        &--instagram {
    
        }
    
        &--youtube {
            
        }
    
    }

    &__username {
        font-size: rem(12);
        font-weight: 700;
    }

    &__count {
        color: #fff;

        &--big {
            font-size: rem(56);
        }

        &--small {
            
        }
    }

    &__label {

    }

    &__change {

    }


}