@use "../utils" as *;

.header {
    margin-top: rem(36);
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(small) {
        
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        width: 100%;

        @include breakpoint(small) {
            width: auto;
        }

    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
        color: var(--text-color2);
    }

    &__toogle {
        margin-left: auto;
    }
}  